---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgb(14, 6, 83);
$background-color: #20095f;
$brand-color:      rgb(124, 89, 131);
// $gameday-sky: #109dc0;
$clemson-purple:      #28cfe6;
$clemson-orange:      #58337a;
$clemson-green:  #23e954;
$clemson-red:  #5deeee;


$grey-color:       #2d4aaa;
$grey-color-light: lighten($grey-color, 60%);
$grey-color-dark:  darken($grey-color, 40%);


// Width of the content area
$content-width:    1000px;

$on-palm:          650px;
$on-laptop:        1000px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
	"mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
	"fancy-image"
;

